/* div { outline: 1px solid rgba(0,0,0,0.1); } */
* { box-sizing: border-box; }
body { min-height: 100%; margin: 0; padding: 0; font-family: "Open Sans", sans-serif; }
/* html, body { background-image: linear-gradient(#5ccaf3, #d7f0fe); } */
body { xbackground: url(/images/body.svg) bottom center no-repeat; background-size: cover; }
h1, h2, h3 { margin-top: 0; margin-bottom: 1rem; }
h1, .h1 { font-size: 1.75rem }
h2, .h2 { font-size: 1.5rem }
h3, .h3 { font-size: 1.25rem }
img { max-width: 100% }
a { text-decoration: none; color: #ff3300; }

/*typography*/
.lh-double { line-height: 200%; }
.nowrap { text-wrap: nowrap; }
.body { font-size: 1rem }
.regular { font-weight: 400; }
.bold { font-weight: 700; }
.extrabold {font-weight: 900 }
.small { font-size: .75rem; }
.uppercase { text-transform: uppercase; }
.normal { font-weight: normal }

/* layout */
.container { max-width: 80rem; }
.shadow { box-shadow: 0 0 2rem rgba(0,0,0,0.25); }
.shadow-up {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.1));
}
.align-center { align-items: center }
.align-start { align-items: flex-start }
.align-end { align-items: flex-end }
.center { text-align: center }
.right-align { text-align: right }
.block { display: block; }
.inline-block { display: inline-block; }
.flex { display: flex }
.inline-flex { display: inline-flex }
.flex-wrap { flex-wrap: wrap }
.flex-column { flex-direction: column }
.justify-center { justify-content: center }
.justify-end { justify-content: flex-end }
.space-between { justify-content: space-between; }
.vh100 { height: 100vh }
.muted { opacity: .6 }

/* colors */
.white { color: white }
.black { color: black }
.whatsapp-color { color: #25D366 }
.line-color { color: #00C300; }
.orange { color: #ff3300 }
.bg-light-orange { background-color: #ff9966; }
.bg-orange { background-color: #ff3300 }
.bg-white { background-color: #fff; }
.bg-avocado { background-color: #cfe602; }
.bg-avocado-img { background-image: url(/images/avocado.jpg) }
.bg-mango { background-color: #fdc629; }
.bg-mango-img { background-image: url(/images/mango.jpg) }
.bg-mango-puree { background-color: #fdc629; }
.bg-mango-puree-img { background-image: url(/images/mango-puree.jpg) }
.bg-passion-fruit { background-color: #EFC5CF }
.bg-passion-fruit-img { background-image: url(/images/passion-fruit.jpg) }
.bg-pineapple { background-color: #FFDE51; }
.bg-pineapple-img { background-image: url(/images/pineapple.jpg) }
.bg-navy { background-color: #3c6eae; }

.mango-puree .title span { background-color: #fdc629; padding: 0 .25rem; margin: 0 -0.25rem;}
.mango-puree .subtitle span { background-color: #fdc629; padding: 0.25rem; margin: 0 -0.25rem; }

/* borders */
.border { border: transparent 1px solid }
.border-orange { border-color: #ff3300 }
.border1 { border-width: 0.25rem }
.rounded { border-radius: 0.5rem }

/* position */
.relative { position: relative }
.absolute { position: absolute }
.top-0 { top: 0 }
.right-0 { right: 0 }
.footer-logo {
  width: 15rem;
  height: 17rem;
  background-image: url(fruits.svg);
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 9rem;
}
.right { float: right; }
.ratio-1x1 { flex: 1 }
.z1 { z-index: 1 }
.cover { background-size: cover; background-position: center center }
.whatsapp { background-image: url(whatsapp.svg); }
.line { background-image: url(line.svg); }
.contacts { top: 100%; left: 0; right: 0; width: 100%; }
.nowrap { white-space: nowrap }

.mb1 { margin-bottom: .5rem; }
.mb2 { margin-bottom: 1rem; }
.mb3 { margin-bottom: 2rem; }
.mb4 { margin-bottom: 4rem; }
.mr1 { margin-right: .5rem }
.mr2 { margin-right: 1rem }
.mt2 { margin-top: 1rem; }
.mtn2 { margin-top: -1rem; }
.mt3 { margin-top: 2rem; }
.mtn3 { margin-top: -2rem; }
.mt4 { margin-top: 4rem; }
.my2 { margin-top: 1rem; margin-bottom: 1rem; }
.my4 { margin-top: 4rem; margin-bottom: 4rem; }
.mx-auto { margin-left: auto; margin-right: auto }
.mxn4 { margin-left: -4rem; margin-right: -4rem; }
.p { padding: .25rem; padding: .25rem; }
.p1 { padding: .5rem; padding: .5rem; }
.p2 { padding: 1rem }
.p4 { padding: 4rem; padding: 4rem; }
.pr { padding-right: 0.25rem; }
.pr2 { padding-right: 1rem; }
.pr4 { padding-right: 4rem; }
.pl4 { padding-left: 4rem; }
.pt { padding-top: 0.25rem; }
.pt1 { padding-top: .5rem; }
.pt2 { padding-top: 1rem; }
.pt4 { padding-top: 4rem; }
.px { padding-left: .25rem; padding-right: .25rem; }
.px1 { padding-left: .5rem; padding-right: .5rem; }
.px2 { padding-left: 1rem; padding-right: 1rem; }
.px3 { padding-left: 2rem; padding-right: 2rem; }
.px4 { padding-left: 4rem; padding-right: 4rem; }
.py1 { padding-top: .5rem; padding-bottom: .5rem; }
.py3 { padding-top: 2rem; padding-bottom: 2rem; }
.pb { padding-bottom: .25rem; }
.pb1 { padding-bottom: .5rem; }
.pb4 { padding-bottom: 4rem; }
.py2 { padding-top: 1rem; padding-bottom: 1rem; }
.py4 { padding-top: 4rem; padding-bottom: 4rem; }
.w4 { width: 6rem; }
.h4 { height: 6rem; }

/* grid */
.col-1 { flex: 0 0 8.333%; }
.col-2 { flex: 0 0 16.666%; }
.col-3 { flex: 0 0 25%; }
.col-4 { flex: 0 0 33.333%; }
.col-6 { flex: 0 0 50%; }
.col-8 { flex: 0 0 66.666%; }
.col-12 { flex: 0 0 100%; }
.auto { flex: auto; }

/*gallery*/
.crop-to-fit img {
  width: 9rem;
  height: 9rem;
  object-fit: cover;
  object-position: center top;
}
/* decorative */
.round { border-radius: 999px }

/* menu */
.menu { letter-spacing: -1px }

/* responsive */
.md-show { display: none }
/* flags */
.flag { height: 1.5rem; }
.icon { font-size: 2em; }

@media(min-width: 40rem) {
  h1, .h1 { font-size: 3rem }
  h2, .h2 { font-size: 2rem }
  h3, .h3 { font-size: 1.25rem }

.crop-to-fit img {
  width: 18rem;
  height: 18rem;
}
  .flag { height: 1rem; }
  .icon { font-size: 2rem; }

  .md-px2 { padding-left: 2rem; padding-right: 2rem; }
  .md-px4 { padding-left: 4rem; padding-right: 4rem; }
  .md-py3 { padding-top: 2rem; padding-bottom: 2rem; }
  .md-py4 { padding-top: 4rem; padding-bottom: 4rem; }
  .md-flex { display: flex }
  .md-flex-column { flex-direction: column }
  .md-show { display: block }
  .md-col-1 { flex: 0 0 8.333%; }
  .md-col-2 { flex: 0 0 16.666%; }
  .md-col-3 { flex: 0 0 25%; }
  .md-col-4 { flex: 0 0 33.333%; }
  .md-col-6 { flex: 0 0 50%; width: 50%; }
  .md-col-8 { flex: 0 0 66.666%; width: 66.666%; }
  .md-col-12 { flex: 0 0 100%; width: 100%; }
}
