<h2><i class="fa fa-clipboard-list orange"></i> {{ site.t[page.lang].nutrition.info }}</h2>

<ul>
  <li>{{ site.t[page.lang].nutrition.calories }} — {{page.nutrition.kcal}} {{ site.t[page.lang].nutrition.kcal }}</li>
  <li>{{ site.t[page.lang].nutrition.fat }} — {{page.nutrition.fat}} {{ site.t[page.lang].nutrition.g }}</li>
  <li>{{ site.t[page.lang].nutrition.protein }} — {{page.nutrition.protein}} {{ site.t[page.lang].nutrition.g }}</li>
  <li>{{ site.t[page.lang].nutrition.carbs }} — {{page.nutrition.carbs}} {{ site.t[page.lang].nutrition.g }}</li>
</ul>
