{% assign downloads = "Frozen Thai Mango Halves,Frozen Thai Mango Pulp,Frozen Thai Mango on a Stick,Frozen Thai Mini Pineapple Phule,Frozen Thai Mini Pineapple on a Stick Phule,Frozen Thai Passion Fruit,Frozen Whipped Thai Coconut Puree" | split: "," %}

{% if page.download %}
<div class="my-16">
  <div class="flex justify-center mb-6">
    <a href="/media/{{ page.download }}.pdf" title="{{ page.download }}.pdf"
      class="block rounded-lg bg-orange text-white py-2 px-6 inline-flex items-center">
      <i class="fa pr-3 fa-cloud-download-alt"></i>
      {{ page.download }} (PDF)</a>
  </div>
  <div class="text-center text-neutral-500 mb-4">{{ site.t[page.lang].other_downloads }}</div>
  <div class="flex flex-wrap justify-center gap-2">
    {% for dl in downloads %}
      {% unless dl == page.download %}
      <a href="/media/{{ dl }}.pdf" title="{{ dl }}.pdf"
        class="block rounded-lg text-sm bg-neutral-600 text-white py-2 px-4 inline-flex items-center">
        <i class="fa pr-2 fa-cloud-download-alt"></i>
        {{ dl }} (PDF)</a>
      {% endunless %}
    {% endfor %}
  </div>
</div>
{% else %}
<div class="my-16 flex flex-wrap justify-center gap-2">
  {% for dl in downloads %}
    <a href="/media/{{ dl }}.pdf" title="{{ dl }}.pdf"
      class="block rounded-lg bg-orange text-white py-2 px-6 inline-flex items-center">
      <i class="fa pr-3 fa-cloud-download-alt"></i>
      {{ dl }} (PDF)</a>
  {% endfor %}
</div>
{% endif %}
