<div class="container mx-auto center p2" id="partners">
  <div class="flex flex-wrap justify-center">
    {% for partner in site.partners %}
    <div class="flex-1 col-6 md-col-4 flex flex-column p my1 button-hover">
      {% assign link = partner[1].link | default: partner[0] %}
      {% assign domain = partner[1].domain | default: partner[0] %}
      <a href="http://{{link}}">
        <div class="contain" style="height: 3rem; background-image: url(/images/partners/{{domain}}.png)"></div>
        <div class="my1">
        {{domain}}
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>
<div class="pb bg-orange"></div>
