<div class="flex container justify-center mx-auto">
  <div class="my4">
    {% assign pages = site.fruits | where:"lang", page.lang | where: "unavailable", nil %}
    {% for fruit in pages %}
    <div class="my1">
      <a class="block rounded h2 bg-orange white py1 px3 inline-flex align-center" href="/media/{{fruit.slug}}-{{page.lang}}.pdf">
        <i class="fa m1 h1 pr2 fa-cloud-download-alt"></i>
        {{fruit.slug | capitalize}} {{page.lang}}
      </a>
    </div>
    {% endfor %}
  </div>
</div>
<div class="pb bg-orange"></div>
