<!doctype html>
<html lang="{{ page.lang }}">
  <head>
    <link rel="icon" type="image/png" href="/images/best-thai-fruits.png" />
    <meta charset="utf-8">
    <meta property="og:title" content="{{page.title | default: site.t[page.lang].title }}" />
    <meta property="og:description" content="{{ page.description | default: site.t[page.lang].description }}" />
    <meta property="og:site_name" content="{{ site.t[page.lang].title }}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{site.url}}{{page.permalink}}" />
    <meta property="og:image" content="{{site.url}}/images/fruits-logo.png" />
    <title>{{ page.title }}{% if page.title %} | {% endif %}{{ site.t[page.lang].title }}</title>
    <meta name="google-site-verification" content="f-YEKvNR-QK5_3QE44BbQeOhW_QQA9Z2jwDklmw7Hds" />
    <meta name="viewport" content="width=450">
    <meta name="description" content="{{ page.description | default: site.t[page.lang].description }}"/>
    {% include alternate.html %}
    <link href="/fruits.css?{{ page.date | date: "%Y-%m-%d" }}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&display=swap&subset=cyrillic" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery.swipebox/1.4.4/css/swipebox.min.css" rel="stylesheet">
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-1/js/all.js"></script>
  </head>
  <div class="container mx-auto relative">
    <div class="absolute right-0 p1">
      {% include lang_nav.html %}
    </div>
  </div>
  <div class="container flex justify-center mx-auto pt2">
    <div class="col col-2">
      <a href="/{% if page.lang != site.lang %}{{page.lang}}{% endif %}">
        <img src="/images/fruits-logo.svg" class="block" />
      </a>
    </div>
  </div>
  <nav>
    <div class="container justify-center flex align-end mx-auto pt2">
      {% assign pages = site.fruits | concat: site.pages %}
      {% assign pages = pages | where: "lang", page.lang %}
      {% for p in pages %}
        {% if p.title %}
          <a href="{{ p.permalink }}"
             class="menu
                    uppercase h3 px1 md-px2 py1 black
                    {% if p.url == page.permalink %}
                      bg-{{p.slug | default: 'orange' }} bold
                    {% else %}
                      muted
                    {% endif %}
                    ">
            {{ p.title }}
          </a>
        {% endif %}
      {% endfor %}
    </div>
  </nav>
  <div class="container shadow mx-auto">
    <div class="pb bg-{{page.slug | default: 'orange'}}"></div>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    <div class="container bg-white mx-auto center p2">
      <div class="h1 bold uppercase">
        {{ site.t[page.lang].layout.title }}
      </div>
      <div>
        {{ site.t[page.lang].layout.subtitle }}
      </div>
    </div>

    <div class="md-flex container mx-auto bg-white relative">
      {% assign pages = site.fruits | where:"lang", page.lang %}
      {% for fruit in pages %}
        <a href="{{ fruit.permalink }}" class="block black col md-col-4 center px2 py4 bg-{{fruit.slug}}-img cover">
          <div class="h2"><span class="bg-{{fruit.slug}} px bold uppercase">{{ fruit.title }}</span></div>
          <div><span class="bg-{{fruit.slug}} px">{{ fruit.subtitle }}</span></div>
          {% include unavailable.html %}
          <div class="py4"></div>
        </a>
      {% endfor %}
    </div>
  </div>

  <div class="md-flex bg-white container mx-auto p4">
    <div class="col col-6 md-flex align-end">
      <div class="px1 mb2 md-show">
        <img src="/images/fruits-logo.svg" class="block" style="height: 6rem"/>
      </div>
      <div class="px1 mb2">
        <div>
          <a class="black flex align-center" href="tel:+7-964-931-3480"><i class="h2 mr1 orange fa fa-phone-square-alt"></i> +7-964-931-3480</a>
        </div>
        <div>
          <a class="black flex align-center" href="tel:+669-8460-9515"><i class="h2 mr1 orange fa fa-phone-square-alt"></i> +669-8460-9515</a>
        </div>
        <div>
          <a class="black flex align-center" href="mailto:info@bestthaifruits.com"><i class="h2 mr1 orange fa fa-envelope-square"></i> info@bestthaifruits.com</a>
        </div>
      </div>
    </div>
    <div class="col col-6 flex align-end mb2">
      <div class="px1">
        <div class="flex align-start">
          <div class="pt mr1">
            <i class="h2 fas fa-map-marker-alt orange"></i>
          </div>
          <div>
            <span class="extrabold">Best Thai Fruit</span> Co. Ltd.,
            <br />
            53/36 Moo 2, Vichit, Muang, Phuket, Thailand 83000
            <div style="margin-bottom: 20px"></div>
            <a class="whatsapp-color" href="https://wa.me/79649313480?text=bestthaifruits.com"><i class="mr1 h2 icon fab fa-whatsapp-square"></i></a>
            <a class="line-color" href="line://ti/p/bestthaifruits"><i class="h2 icon fab fa-line"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script
    src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.swipebox/1.4.4/js/jquery.swipebox.min.js"></script>
  <script type="text/javascript">
    ;( function( $ ) { $( '.swipebox' ).swipebox(); } )( jQuery );
  </script>
</html>
