---
layout: default
---

<div class="md-flex relative container mx-auto bg-white bg-{{page.slug}}-img cover">
  <div class="px2 md-px4 py3 md-col-8">
    <div class="p1 md-show"></div>
    <div class="h2"><span class="bold uppercase">{{page.title}}</span></div>
    <div class="">{{page.subtitle}}</div>
    <br />
    {% for tag in page.tags %}
    <div class="bg-{{page.slug}} nowrap p1 mr1 mb1 inline-block">
      <i class="fa fa-check"></i>
      {{tag}}
    </div>
    <br />
    {% endfor %}
    {% for tag in page.package %}
    <div class="bg-white nowrap p1 mr1 mb1 inline-block">
      <i class="fa fa-check"></i>
      {{tag}}
    </div>
    <br/>
    {% endfor %}
    <div class="p1 md-show"></div>
  </div>
  <div class="p2 mt3 auto">
    <div class="md-show h3 center muted pt">
      {{ site.t[page.lang].nutrition.info }}
    </div>
    <div class="py2 flex flex-wrap justify-center mx-auto">
      <div class="p">
        <div class="round bg-white w4 h4 center shadow flex flex-column justify-center">
          <span class="small pt1">
            {{ site.t[page.lang].nutrition.fat }}
          </span>
          <div class="h3 bold">
            {{page.nutrition.fat}}{{ site.t[page.lang].nutrition.g }}
          </div>
        </div>
      </div>
      <div class="p">
        <div class="round bg-white w4 h4 center shadow flex flex-column justify-center">
          <span class="small pt1">
            {{ site.t[page.lang].nutrition.carbs }}
          </span>
          <div class="h3 bold">
            {{page.nutrition.carbs}}{{ site.t[page.lang].nutrition.g }}
          </div>
        </div>
      </div>
      <div class="p">
        <div class="round bg-white w4 h4 center shadow flex flex-column justify-center">
          <span class="small pt1">
            {{ site.t[page.lang].nutrition.protein }}
          </span>
          <div class="h3 bold">
            {{page.nutrition.protein}}{{ site.t[page.lang].nutrition.g }}
          </div>
        </div>
      </div>
      <div class="p">
        <div class="round bg-{{page.slug}} w4 h4 center shadow flex flex-column justify-center">
          <span class="small pt1">
            {{ site.t[page.lang].nutrition.calories }}
          </span>
          <div class="h3 bold">
            {{page.nutrition.kcal}}{{ site.t[page.lang].nutrition.kcal }}
          </div>
        </div>
      </div>
      <div class="p1 md-show"></div>
    </div>
  </div>
  <div class="shadow-up"></div>
</div>

<div class="flex container mx-auto">
  <div class="col col-12 auto bg-white px2 md-px4">
    <article>
      <header>
        <h1 class="h1 bold uppercase">{{ page.title | escape }}</h1>
      </header>

      <div>
        {{ content }}
      </div>
      <div class="gallery my2">
        {% for img in page.gallery %}
        <div class="gallery-item">
          <div>
            <a href="{{img}}" class="swipebox" class="swipebox">
              {% picture thumbnail {{img}} %}
            </a>
          </div>
        </div>
        {% endfor %}
      </div>
    </article>
  </div>
</div>

<div class="bg-orange pb mt4"></div>
<!-- unclosed div -->
