---
layout: default
---
<div class="md-flex container mx-auto">
  <div class="col auto bg-white px2 md-px4 py3">
    {{ content }}
  </div>
  <div class="my4">
    {% assign pages = site.fruits | where:"lang", page.lang | where: "unavailable", nil %}
    {% for fruit in pages %}
    <a class="rounded h2 bg-orange white py1 px3 inline-flex align-center" href="/media/{{fruit.slug}}-{{page.lang}}.pdf">
      <i class="fa m1 h1 pr2 fa-cloud-download-alt"></i>
      {{site.t[page.lang].download}} {{fruit.slug | capitalize}} ({{page.lang}}) PDF
    </a>
    {% endfor %}
  </div>
</div>
<div class="pb bg-orange"></div>
